body {
  background-color: black;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

th {
  text-align: center;
  font-size: x-large;
  color: blue;
}

input[type="text"] {
  width: 90%;
  margin: 0 auto;
  font-size: x-large;
  padding: 0.2rem;
}